.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.page-footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.footer-text {
  color: #f4f4fd;
  margin: 0;
}

.footer-social-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.footer-social-list {
  gap: 16px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
