/*-- MAIN ------------------ */
.main-title-section {
  background: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/herobg.jpg);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  max-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 36px;
  max-width: 216px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопка */
.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .main-title-section {
    padding-top: 112px;
    padding-bottom: 112px;
    background-position: center;
    max-width: 768px;
  }
  .main-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media (min-width: 1158px) {
  .main-title-section {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .main-title {
    margin-bottom: 48px;
  }
}

.text-features {
  align-items: center;
  gap: 72px;
  display: flex;
  flex-wrap: wrap;
}
