.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* Тексти */
.portfolio-style,
.team-main-style,
.nothing-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.seconde-style-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.seconde-style {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

@media (min-width: 768px) {
  .seconde-style {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .seconde-style-text {
    font-weight: 400;
  }
  .seconde-style {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
