.portfolio-discription,
.team-chapter {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-features,
.team-name,
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-name,
.text-features,
.team-name {
  color: #434455;
}

.portfolio-box {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.portfolio-all {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.back-portfolio {
  background: #fff;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 1157px) {
  .back-portfolio {
    box-shadow:
      0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

@media (min-width: 768px) {
  .back-portfolio {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-all {
    gap: 72px 24px;
  }
}

@media (min-width: 1158px) {
  .back-portfolio {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-all {
    gap: 48px 24px;
  }
}
